
nav {
    display: flex;
    padding: 40px;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 1em;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    padding: 0.4em;
}