.flex {
  display: flex;
}
.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)),
    url("../../../../../assets/images/img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 200px;
  height: 300px;
  border-radius: 15px;
  box-shadow: -0.5rem 0 1rem #000;
  align-items: center;
  justify-items: stretch;
  transition: 0.3s ease-out;
  position: relative;
  left: 0px;
}
.parent h2,
h3 {
  color: white;
  font-size: 1em;
}
.div4 {
  height: 50px;
}
button {
  width: 85%;
  height: 100%;
}
.parent:not(:first-child) {
  margin-left: -50px;
}

.parent:hover {
  transform: translateY(-30px);
  transition: 0.3s ease-out;
}

.parent:hover ~ .parent {
  position: relative;
  left: 50px;
  transition: 0.3s ease-out;
}
