body,
ul,
h1,
h2,
h3,
p,
button,
a,
div {
  margin: 0;
  padding: 0;
  color: white;
  letter-spacing: 2px;
  list-style-type: none;
  text-decoration: none;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
body {
  background: black;
  overflow: hidden;
}
.inline-navi {
  display: flex;
  justify-content: space-between;
  height: 15vh;
}
